.search {
    width: 95%;
    margin-bottom: 20px;
}

input {
    font-family: 'Courier New', Courier, monospace;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}