.App {
  text-align: center;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1686848429284-d108e021a74c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80");
  background-size: cover;
  
}
